.bodySet {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.bigText {
  font-weight: bold;
  font-size: 5rem;
}

.button-col {
  display: flex;
  width: 20vw;
  justify-content: space-between;
}

.button-col > button{
  height: 8vh;
  width: 10vw;
  margin: 0 1vw;
  background-color: #ffffff;
  border-radius: 12px;
}